page-home {
    font-family: 'Playfair Display', serif;
    font-family: 'Pacifico', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Cardo', serif;
#web{
    background-color: rgb(245, 99, 99);
}

    
}
