
<ion-header>

  <ion-navbar color="web">
    <ion-title text-center>{{task}}<br> {{timerVal}}</ion-title>
    
  </ion-navbar>

</ion-header>

<ion-content padding id="web"> 


  <form
  [formGroup]="form"
  (ngSubmit)="manage(form.value)" style="background-color: white">
   <ion-list
      margin-bottom radio-group>
    
   <div
      formArrayName="additional"
        margin-bottom>
        
        <section
           [formGroupName]="i"
           *ngFor="let tech of form.controls.additional.controls; let i = index">

           <ion-item-group>
               
              <ion-item *ngIf="questions[i]?.qtype == 'FIN'">
                 <ion-label style="font-size: 12pt" stacked id="question">{{questions[i]?.question}}?</ion-label>
                 <ion-input
                    type="text"
                    formControlName="answer"></ion-input>
              </ion-item>

              <ion-row radio-group  formControlName="answer" *ngIf="questions[i]?.qtype == 'TF'">
               <ion-item no-lines>
                 <p style="font-size: 12pt;color: black;">{{questions[i]?.question}}?</p>
               </ion-item>
               
               <ion-col col-4>
                 <ion-item no-lines>
                   <ion-label>
                     TRUE</ion-label>
                   <ion-radio value="true"></ion-radio>
                 </ion-item>
               </ion-col>
               <ion-col col-4>
                 <ion-item no-lines>
                   <ion-label>
                     FALSE</ion-label>
                   <ion-radio value="false"></ion-radio>
                 </ion-item>
               </ion-col>
               
             </ion-row>
              

           </ion-item-group>
        </section>

        
       
     </div>

    </ion-list>
    
     <button
      ion-button
      block
      margin-top
      color="web"
      text-center>Submit!</button>
   </form>  
</ion-content>
